@charset "UTF-8";
/** reset **/
/* body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,button{margin:0;padding:0}fieldset,img{border:0 none}dl,ul,ol,menu,li{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:"";content:none}input,select,textarea,button{border-radius:0;vertical-align:middle}input::-ms-clear{display:none}button{border:0 none;background-color:transparent;cursor:pointer}body{background:#fff;direction:ltr;-webkit-text-size-adjust:none}body,th,td,input,select,textarea,button{font-size:13px;line-height:1.5;font-family:AppleSDGothicNeo-Regular,Malgun Gothic,\b9d1\c740  \ace0\b515,dotum,\b3cb\c6c0,sans-serif;color:#222;letter-spacing:-1px}.os_mac body,.os_mac th,.os_mac td,.os_mac input,.os_mac select,.os_mac textarea,.os_mac button{letter-spacing:0}a{color:#222;text-decoration:none}a:hover{color:#118eff;text-decoration:underline}a:active{background-color:transparent}address,caption,cite,code,dfn,em,var{font-style:normal;font-weight:400}.ir_pm{display:block;overflow:hidden;font-size:1px;line-height:0;text-indent:-9999px} */


/** 컴퍼넌트 셋팅**/

::-webkit-scrollbar-track {
    background-color: #f5f5f5;
  }
  
  ::-webkit-scrollbar {
    width: 10px;
    background-color: #f5f5f5;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #afb4b9;
  }

  .v-application--is-ltr .v-messages {
    display: none;
  }

/** input **/
.v-input {
    padding: 0 !important;
    margin: 0 !important;
    .v-input__control {
        border: 1px solid #DBDFE4;
        .v-input__slot {
            height: 36px;
            display: flex;
            align-items: center !important;
            padding: 0 8px !important;
            margin: 0;
            &::before {
                border: 0 !important;
            }
            &::after {
                border-color: #000 !important;
                border-width: thin 0 0 0 !important;
            }
            .v-label {
                top: 50% !important;
                transform: translateY(-50%);
                font-size: 14px !important;
            }
        }
        .v-text-field__details {
            display: none;
        }
    }
}

/** Button **/
.v-btn {
    background: #fff !important;
    box-shadow: none !important;
    border: 1px solid #BCC0C4 !important;
    height: 36px !important;
    position: relative;
    &:hover::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.15);
        box-shadow: none;
    }
    .v-btn__content {
        font-size: 14px;
        text-transform: none;
    }
}


.router-tab__scrollbar-thumb:hover {
    background-color: #359FEB !important;
}

.icon_sch input {
    cursor: pointer;
}

/** Select **/
.v-select__slot {
    .v-input__append-inner {
        padding: 0 !important;
        margin: 0 !important;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
    }
}
.v-select-list .v-list-item {
    border-bottom: 0 none;
    min-height: 36px !important;
    height: 36px;
}
.v-select-list .v-list-item:hover {
    background-color: #f1f1f1;
}
.v-list-item__title {
    font-size: 13px !important;
}
.v-list-item__title:hover {
    text-decoration: underline;
    background-color: #F6F6F6 !important;
}
.v-list-item--highlighted {
    background-color: #ebebeb !important;
}

/* checkbox */
.v-input--selection-controls {
    padding: 0 !important;
    margin: 0 !important;
}
.v-input--selection-controls .v-input__slot > .v-label, .v-input--selection-controls .v-radio > .v-label {
    color: #444;
    font-size: 13px
}

/* textarea */
.v-textarea.v-text-field--enclosed .v-text-field__slot {
    margin: -5px -5px 1px 0 !important;
}
.v-application--is-ltr .v-textarea.v-text-field--enclosed .v-text-field__slot textarea {
    padding-top: 5px;
}

/* Calendar */
.v-btn--rounded:before {
    background: #ffffff !important;
}

.comp_calendar {
    width: 180px;
    position: relative;
}
.comp_calendar::after {
    content: "";
    width: 36px;
    height: 36px;
    background: url('~assets/images/ico_calendar.png')no-repeat calc(100% - 8px) center;
    position: absolute;
    right: 0;
    pointer-events: none;
}
.comp_calendar .v-input__prepend-outer {
    display: none;
}
.v-date-picker-header {
    button {
        border: 0 none !important;
    }
}
.v-date-picker-table {
    .v-btn {
        width: 30px !important;
        height: 30px !important;
        border: 0 none !important;
        &.v-btn--active {
            font-weight: bold;
        }
    }
}
.v-date-picker-years {
    text-align: left !important;
    padding: 0 !important;
    li {
        padding: 4px 8px !important;
        &.active {
            font-size: inherit !important;
            font-weight: bold !important;
        }
    }
}

/* Time */
.comp_time {
    width: 80px;
    /* background: url('~assets/images/ico_calendar.png')no-repeat calc(100% - 8px) center; */
}

/* text-field */
.v-input__control {
    background-color: #fff;

}
.v-text-field--outlined.v-input--dense .v-label {
    font-size: 13px;
}

.v-icon.notranslate.v-icon--link.fas.fa-search.theme--light{
    font-size: 16px;
    padding-top: 3px;
}

/* .icon_sch {
    background: url('~assets/images/ico_sch.png') no-repeat calc(100% - 8px) center;
} */
.icon_sch::after {
    content: "";
    width: 30px;
    height: 30px;
    background: url('~assets/images/ico_sch.png')no-repeat calc(100% - 8px) center/16px;
    position: absolute;
    right: 0;
    pointer-events: none;
}

.mdi-close::before, .v-icon.v-icon {
    font-size: 18px;
}

.icon_sch .mdi-close::before, .icon_sch .v-icon.v-icon {
    margin-right: 20px;
}

/* file input */
.v-file-input .v-input__slot{
    background: url('~assets/images/ico_clip.png') no-repeat calc(100% - 8px) center !important;
    cursor: pointer !important;
}
.v-file-input .v-input__append-inner {
    display: none !important;
    cursor: pointer;
}

/** 컴퍼넌트 끝 **/


.v-application .grid_header .primary--text {
    color: #222 !important;
    caret-color: #222 !important
}

.v-tabs-slider-wrapper + .v-tab {
    margin-left: 0 !important;
}

.pd0030 {
    padding: 0 30px !important;
}

.txt_green {
    color: #8DC342 !important;
}

/*** topMenuZone ***/
#nav {
    background: #fff;
    border-top: 6px solid #E54125;
    left: auto !important;
    right: auto !important;
    width: 100%;
    display: flex;
    height: 95px !important;
    .v-toolbar__content {
        height: 89px !important;
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 0;
        .nav_wrap--left {
            display: flex;
            align-items: center;
            .top_menu_wrap {
                margin-left: 60px;                
                .btn_topmenu {
                    height: 89px !important;
                    border: 0 none !important;
                    &:hover{
                        span {
                            color: #C5381F !important;
                            font-weight: bold !important;
                            background: transparent !important;
                        }
                    }
                    .v-btn__content{
                        color: #313131;
                        background: transparent !important;
                        border: 0 none;
                        font-weight: bold !important;
                        font-size: 18px !important;
                        padding: 0 10px !important;
                        letter-spacing: -1px !important;
                        height: 100%;
                    }
                    &:before {
                        content: "";
                        background: #fff !important;
                    }
                }
            }
        }
        .nav_wrap--right {
            display: flex;
            align-items: center;
            margin-right: 40px;
            position: relative;
            .btn_top {
                &:active {
                    background: transparent !important;
                }
                min-width: auto !important;
                border: none !important;
                width: 48px !important;
                padding: 0 !important;
                .v-ripple__container {
                    display: none;
                }
                &:nth-child(2) {
                    
                }
                .cnt {
                    position: absolute;
                    top: 0;
                    right: 0;
                    border-radius: 10px;
                    height: 16px;
                    padding: 0 4px 2px 4px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: #fff;
                    font-size: 10px;
                    letter-spacing: -1px;
                    background: #C5381F !important;
                }
            }
        }
    }
}

/*** LeftMenu Zone ***/
.leftmene_wrap {
    width: 240px !important;
    top: 95px !important;
    background: #D8DDE3 !important;
    .v-ripple__container {
        display: none !important;
    }
    .v-navigation-drawer__border {
        background-color: transparent !important;
    }
    .v-navigation-drawer__content {
        background: #EAEEF3;
        height: auto;
        .design_lefttit {
          border-bottom: 1px solid #efefef;
          background-color: #E54125;
          height: 81px;
          h1 {
              font-size: 22px;
              margin-left: 24px;
              font-weight: bold;
              line-height: 81px;
              color: #fff;
            }
        }
    }
    .v-list {
        background: #F2F5F8 !important;
        padding: 0 20px 30px;
        .v-list-item {
          border-bottom: 1px solid #DBDFE4;
          padding: 2px 0;
        }
        .v-list-group__header {
          height: 45px !important;
          padding-left: 0 !important;
        }
        .v-list-item--link:before {
          background-color: transparent !important;
        }
        .v-list-item__title {
          line-height: 42px !important;
          font-size: 15px !important;
          font-weight: bold !important;
        }
        .v-list-item__title:hover {
          color: #062c5e;
          font-weight: bold !important;
          background-color: transparent !important; /* kkd : 임시 추가 */
        }
        .v-list-item__content {
            &.leftmenu_style_btn {
                padding: 0 !important;
            }
        }
        .leftmenu_style {
          border-bottom: none !important;
          padding-left: 24px !important;
          line-height: 40px !important;
          height: 40px !important;
          min-height: 40px !important;
          .leftmenu_style_btn {
            .v-list-item__title {
                font-size: 15px !important;
                font-weight: normal !important;
                color: #333;
            }
           }
        }
    }
}

.lnb_hide {
    position: absolute !important;
    left: 240px;
    top: 95px;
    width: 40px !important;
    height: 81px !important;
    background: #EAEEF3 !important;
    border-top: 1px solid #BCBDC0 !important;
    border-bottom: 1px solid #BCBDC0 !important;
    border-right: 0 !important;
    border-left: 0 !important;
    z-index: 100;
  }
  .lnb_show {
    position: absolute !important;
    left: 0;
    top: 95px;
    width: 40px !important;
    height: 81px !important;
    background: #EAEEF3 !important;
    border-top: 1px solid #BCBDC0 !important;
    border-bottom: 1px solid #BCBDC0 !important;
    border-right: 0 !important;
    border-left: 0 !important;
    z-index: 100;
    img {
        transform: rotate(180deg);
    }
  }

.router-tab {
  padding: 95px 0 0 280px;
  background: #eaeef3;
  .router-tab__header {
    background-color: #fff;
    height: 81px !important;
    margin-bottom: 40px;
    border-top: 1px solid #bcbdc0;
    border-bottom: 1px solid #bcbdc0; 
    display: flex;
    align-items: center;  
    .router-tab__scroll {
        margin: 0 0 0 30px !important;
        .router-tab__scroll-container {
            .router-tab__nav {
                padding-left: 0px !important;
                .router-tab__item {
                    background: #8096A5;
                    border: 1px solid #6E818E;
                    margin-right: 1px !important;
                    padding: 0 10px;
                    &.is-active,
                    &:hover {
                        &.is-closable {
                            padding: 0 10px !important;
                        }
                    }
                    .router-tab__item-title {
                        padding: 4px 8px !important;
                        color: #fff !important;
                    }
                    &.is-active {
                        background: #313131 !important;
                        border: 1px solid #313131 !important;
                    }
                    .router-tab__item-close {
                        width: 16px;
                        height: 16px;
                        border-radius: 50% !important;
                        margin-left: 4px;
                        &:hover {
                            background: #C5381F !important;
                        }
                        &:before {
                            background-color: #fff !important;
                            top: 7px !important;
                        }
                        &::after {
                            background-color: #fff !important;
                            top: 7px !important;
                        }
                    }
                }
            }
        }
    }
  }
  .router-tab__container {
    position: relative;
    background: #fff !important;
    padding: 40px;
    border: 1px solid #D6D8DE;
    // .router-tab-page {
    //   padding: 0 !important;
    // }
  }
  .router-tab__item {
      justify-content: space-between;
  }
  .router-tab__item-title {
      padding-top: 4px;
      max-width: 140px !important;
  }
  &.mainFrame {
    padding: 95px 0 0 0;
    .router-tab__header {
        .router-tab__scroll {
            margin: 0 0 0 60px !important;
        }
    }
    .router-tab__container {
        margin-left: 40px !important;
        // padding: 0;
    }
  }
  &.mainHome {
    .router-tab__header {
        display: none;
    }
    .router-tab__container {
        padding: 0 !important;
        margin-left: 0 !important;
    }
    & + .lnb_show {
        display: none;
    }
  }
}


// .leftmenu_style {
//     border-bottom: none !important;
//     padding-left: 30px !important;
//     line-height: 34px !important;
//     height: 34px !important;
//     min-height: 34px !important;
//   }
//   .leftmenu_style_btn > div {
//     font-size: 13px !important;
//     padding-left: 2px;
//     /* background: transparent url('../assets/images/btn_lnb_bul.png') no-repeat 92% center; */
//     color: #444;
//   }
//   .leftmenu_style_btn > div:hover:after,
//   .leftmenu_style_btn > div:hover:before {
//     font-size: 13px !important;
//     font-weight: 600 !important;
//     padding-left: 2px;
//     /* background: transparent url('../assets/images/btn_lnb_bul.png') no-repeat 92% center; */
//   }
//   .leftmenu_style_btn2 > div {
//     font-size: 13px !important;
//     font-weight: 600 !important;
//     padding-left: 2px;
//     /* color: #222; */
//   }
//   .leftmenu_style_btn2 > div:hover:after,
//   .leftmenu_style_btn2 > div:hover:before {
//     font-size: 13px !important;
//     font-weight: 600 !important;
//     padding-left: 2px;
//   }



.btn_default, .btn_default:hover, .btn_default:active, .btn_default:focus {
    background: transparent !important;
    border: 0 none !important;
}
.btn_default:hover:before, .btn_default:hover:after, .btn_default:focus:before, .btn_default:focus:after {
    content: "";
    background: #fff !important;
}

.location {
    font-size: 15px;
    letter-spacing: -0.5px;
    h1 {
        font-size: 22px;
        margin-bottom: 16px;
        line-height: 1;
    }
    span {
        margin-bottom: 12px;
        display: block;
        color: #999;
        b {
            font-weight: bold;
            color: #222;
            font-size: 15px;
        }
    }
}

.work_title {
    display: none;
}

.work_title h2 {
    font-size: 20px;
    letter-spacing: -1px;
    font-weight: 600;
    color: #222 !important;
    padding: 2px 0 15px 30px;
}

.work_title2 {
    font-size: 20px;
    letter-spacing: -1px;
    font-weight: 600;
    color: red;
}

.sub_title {
    height: 32px;
    color: #222 !important;
}
.sub_title h3 {
    font-size: 18px;
    font-weight: bold;
    letter-spacing: -1px;
    display: flex;
    align-items: center;
    height: 100%;
}

.row {
    margin: 0 !important;
}

.container_detail {
    border-radius: 0 !important;
    /* padding: 0 30px 0 30px; */
}
.container_detail .sub_title {
    height: 40px;
    font-size: 15px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container_sch {
    border-radius: 0 !important;
    position: relative;
    > .row {
        display: flex; 
        flex-direction: row;
        background-color: #EAEEF3;
        border-top: 2px solid #707070;
        height: 100%;
        > .col {
            &:first-child {
                flex: 0 0 1;
                max-width: 100%;
                padding: 0;
            }
        }

        > .col-10 {
            max-width: calc(100% - 180px) !important;
            flex: auto;
        }
        
        > .col-2 {
            max-width: 100%;
            display: flex;
            -webkit-box-pack: end;
            -ms-flex-pack: end;
            justify-content: flex-end;
            // padding: 0 10px 12px;
            align-items: center;
            width: 180px;
            position: absolute;
            bottom: 14px;
            right: 14px;
            padding: 0;
            .sch_btn {
                .v-btn__content{
                    min-width: 50px;
                    font-size: 13px;
                    font-weight: 600;
                }
                button {
                    border: 1px solid #8096A5 !important;
                    border-radius: 0;
                    box-shadow: none;
                    background: #8096A5 !important;
                    color: #fff;
                    font-size: 14px;
                    position: relative;
                }
                button:hover::after {
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    background: rgba(0,0,0,0.15);
                    box-shadow: none;
                }
                .btn_search,
                button:last-child {
                    background: #E54125 !important;
                    border: 1px solid #C5381F !important;
                }
            }
        }
    }
    
    .grid_header button{
        border: 1px solid #444 ;
        border-radius: 0;
    }
    
    .grid_header .v-v-input__control{
        border: 1px solid #fff;
    }



    .row {
        .col {
            .container {
                .row {
                    padding: 2px 0 !important;
                    .col {
                        display: flex;
                        align-items: center;
                        justify-content: flex-end;
                        padding: 0;
                        &:nth-child(even) {
                            padding-right: 20px !important;
                        }
                        .label_tit {
                            text-align: right;
                            padding-right: 8px;
                        }
                    }
                }
            }
        }
    }
}


.v-input--checkbox .v-input__control {
    background-color: transparent;
    border: 0 none !important;
    .v-label {
        position: unset !important;
        transform: none !important;
    }
}

.btn_grid_shuttle {
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    button {
        min-width: unset !important;
        padding: 4px !important;
        border: 1px solid #dadada !important;
        border-radius: 0 !important;
        color: #999;
    }
}

.container_sch .label_tit {
    line-height: 30px;
    font-weight: bold;
    padding-left: 2px;
    position: relative;
    /* white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; */
}

.container_detail .container {
    position: relative;
    padding: 0 !important;
    margin: 0 !important;
    display: grid;
}


.container_detail .container {
    border-top: 1px solid #444;
}

.container_detail .container .row {
    border-bottom: 1px solid #ebebeb;
}

.container_detail .container .row:last-child {
    border-bottom: 1px solid #dcdcdc;
}

.container_detail .container .row .col {
    padding: 10px !important;
}

.container_detail .container .row .col-1,
.container_detail .container .row .col-2 {
    background-color: #F6F6F6;
}

.container_detail .col {
    padding: 0 !important;
    margin: 0 !important;
}
.container_detail .label_tit {
    line-height: 20px;
    min-height: 30px;
    font-weight: 600;
    padding: 5px 3px 0 5px;
    position: relative;
    max-height: 40px;
    overflow: hidden; 
    text-overflow: ellipsis;
    display: block;
}
.container_detail .label_con {
    line-height: 30px;
}
.essn:before {
    content: "*";
    color: #E91E63;
    position: absolute;
    left: 0;
    top: -3px;
}

/** realgrid **/

.realgrid_container {
    .grid_header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 0 10px 0;
    }
    .grid_header .grid_header_left {
        line-height: 20px;
        display: flex;
        align-items: center;
    }
    .grid_header .grid_header_left b{
        font-weight: bold;
        font-style: normal;
        font-size: 15px;
        color: #000;
    }
    .grid_header .grid_header_left .grid_info {
        padding-left: 20px;
        position: relative;
    }
    .grid_header .grid_header_left .grid_info::before{
        content: '';
        position: absolute;
        left: 8px;
        top: 0;
        width: 1px;
        height: 12px;
        background-color: #dcdcdc;
    }
    .grid_header {
        .btn_grid_border {
            font-size: 14px !important;
        }
        .btn_grid_solid {
            background: #6E818E !important;
            border: none !important;
            color: #fff;
        }
    }
}

.shuttle_padd {
    padding-left: 20px !important;
}

.realgrid_container .sub_title {
    height: 40px;
    font-size: 15px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
}



/** container_button **/
.container_button {
    position: sticky;
    width: 100%;
    bottom: -40px;
    right: 14px;
    background: rgba(255,255,255,0.9);
    padding: 30px 0;
    text-align: right;
    button {
        height: 40px !important;
        font-weight: bold;
        min-width: 100px !important;
    }
    .btn_detail_solid {
        background: #8096A5 !important;
        border: 1px solid #8096A5 !important;
        color: #fff !important;
    }
}


/** popup **/
.v-dialog {
    overflow: auto !important;
    max-height: 90%;
}
.v-dialog-modal {
    box-shadow: none !important;
    font-family: NotoSansKR;
}
.v-dialog-dialog {
    height: none !important;
}
.v-dialog div.v-dialog-header {
    padding: 25px 30px 15px 30px !important;
}
.v-dialog div.v-dialog-header h3 {
    padding: 0 !important;
    font-size: 20px !important;
}
.v-dialog div.v-dialog-header button {
    width: 30px !important;
    height: 40px !important;
    opacity: 1 !important;
}
.v-dialog div.v-dialog-header button:hover {
    background-color: transparent !important;
}
.v-dialog div.v-dialog-header .v-dialog-btn__close {
    text-indent: -9999px;
    background: url('~assets/images/btn_pop_cls.png') no-repeat right center;
    margin-left: 15px;
}
.v-dialog div.v-dialog-header .v-dialog-btn__maximize {
    text-indent: -9999px;
    background: url('~assets/images/btn_pop_max.png') no-repeat right center;
}
.v-dialog.v-dialog--maximize div.v-dialog-header {
    background-color: transparent !important;
}
.container_pop {
    height: 100%;
}
.container_pop .v-toolbar__content {
    padding: 30px 30px 0 30px;
}
.container_pop .btn_pop_cls {
    text-indent: -9999px;
    background: url('~assets/images/btn_pop_cls.png') no-repeat center !important;
    border: 0 none !important;
    margin-bottom: 20px;
}
.container_pop .v-toolbar__title {
    font-size: 20px;
    font-weight: bold;
    color: #222;
    line-height: 1;
}
.container_pop .pop_btn {
    display: flex;
    justify-content: flex-end;
    padding: 10px 30px 30px 30px !important;
    width: 100%;
}
.container_pop .pop_btn button span {
    font-weight: 600 !important;
    font-size: 14px !important;
}

.container_pop .container_pop_section {
    overflow: auto;
    height: calc(100% - 180px);
    position: relative;
}

.container_pop_section .pop_article {
    padding: 0 30px;
}

.container_pop_section > .pop_article > .row {
   & > .col-1,
   & > .col-2,
   & > .col-3,
   & > .col-4,
   & > .col-5,
   & > .col-6,
   & > .col-7,
   & > .col-8,
   & > .col-9,
   & > .col-10,
   & > .col-11,
   & > .col-12 {
        padding: 0;
    }
}

.container_pop .container_popSch {
    padding: 10px 30px;
}
.container_pop .container_popSch .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #f9f9f9;
    border-top: 1px solid #777;
}
.container_pop_section {
    .container_sch {
        .row {
            display: flex;
            flex-direction: row;
            align-items: center;
            background-color: #f9f9f9;
            border-top: 1px solid #777;
            .col-2 {
                position: unset;
            }
        }
    }
}
.container_p
.container_pop .container_popSch .container .row, .container_pop .container_popSch .container .row .col {
    padding: 0 !important;
    margin: 0 !important;
}
.container_popSch .label_tit {
    padding: 5px 0 0 0;
    margin-left: 20px;
    font-weight: 600;
}
.container_popSch .v-input__control {
    background-color: #fff !important;
}
.container_pop .container_popSch .sch_btn {
    text-align: right;
    margin-top: 10px;
}
.container_pop .container_popSch .sch_btn button{
    min-width: 80px;
}

/** editor box **/
/* .quill-editor .ql-container{
    min-height: 200px;
    text-align: left !important;
} */
.ql-editor {
    height: 100%;
    min-height: 200px;
    text-align: left !important;
}
.ql-container {
    height: 100%;
}

.link {
    color: #218FDE !important;
    font-weight: 600;
    text-decoration: underline;
    cursor: pointer;
}

.link2 {
    color: red !important;
    font-weight: 600;
    text-decoration: underline;
    cursor: pointer;
}

.bold {
    font-weight: bold !important;
}

.group_padd {
    margin-bottom: 30px;
}

.label_info {
    background: url("~assets/images/label_info.png") no-repeat left center;
    padding-left: 20px;
    display: flex;
    align-items: center;
}

.btn_upload {
    background: #fff !important;
    border: 1px solid #dcdcdc;
    border-radius: 0px;
    width: 100px;
    height: 32px !important;
    box-shadow: none !important;
    margin-left: 4px;
}

.file-uploads label {
    cursor: pointer !important;
}

.btn_download {
    height: 30px;
    width: 30px;
    background: url("~assets/images/ico_download.png") no-repeat center !important;
    line-height: 30px;
}
.btn_download:hover {
    background: rgba(53, 159, 235, 0.1) url("~assets/images/ico_download.png") no-repeat center !important;
}

.btn_file_del{
    height: 26px;
    width: 30px;
    background: url("~assets/images/btn_file_del.png") no-repeat center !important;
    text-indent: -9999px;
}
.btn_file_del:hover {
    background: rgba(53, 159, 235, 0.1) url("~assets/images/btn_file_delO.png") no-repeat center !important;
}

.btn_print {
    background: url("~assets/images/ico_print.png") no-repeat center !important;
    line-height: 40px;
}
.btn_print:hover {
    background: rgba(53, 159, 235, 0.1) url("~assets/images/ico_print.png") no-repeat center !important;
    line-height: 40px;
}

.btn_grid_add > .rg-renderer {
    border: 1px solid #dcdcdc;
    padding: 3px 10px;
    max-width: 200px;
    min-width: 80px;
    margin-top: 5px;
    display: inline-block;
    border-radius: 2px;
    cursor: pointer;
}
.btn_grid_add > .rg-renderer:hover {
    border: 1px solid #062C5E;
}
.grid_text_hide {
    text-indent: -9999px;
}

.btn_sch_pop {
    background: url("~assets/images/ico_sch.png") no-repeat center !important;
    line-height: 40px;
}
.btn_sch_pop:hover {
    background: rgba(53, 159, 235, 0.1) url("~assets/images/ico_sch.png") no-repeat center !important;
    line-height: 40px;
}

.warning_container table {
    width: 100%;
}
.warning_container td {
    padding: 15px 0;
    text-align: center;
}
.warning_container td img {
    width: 120px;
}
.warning_container td .v-input--selection-controls .v-input__slot {
    justify-content: center;
}
.v-application--is-ltr .v-input--selection-controls__input {
    margin-right: 0 !important;
}
.left {
    text-align: left !important;
}
.center {
    text-align: center !important;
}
.right {
    text-align: right !important;
}

.toast {                                                                                                                                                             
    background: #062C5E !important;
    padding: 10px 25px !important;
    border-radius: 4px !important;
}
.toast_error {                                                                                                                                                             
    background: #DC3641 !important;
    padding: 10px 25px !important;
    border-radius: 4px !important;
}
.toast_warn {                                                                                                                                                             
    background: #fb8c00 !important;
    padding: 10px 25px !important;
    border-radius: 4px !important;
}

.confirm {
    background: #fff !important;
}
.confirm .v-toolbar__content .white--text {
  font-size: 18px !important;
  color: #222 !important;
  font-weight: bold !important;
  letter-spacing: -1px;
}
.confirm > div > i {
  display: none !important;
}
.text-body-1 {
  margin: 40px 0;
  text-align: center !important;
  font-size: 20px !important;
  color: #333 !important;
  font-weight: bold !important;
}
.body-1 {
  font-size: 20px !important;
  color: #333 !important;
  font-weight: bold !important;
}
.v-sheet .text-body-1 {
    font-size: 20px !important;
  color: #333 !important;
  font-weight: bold !important;
}
.comfirm_y {
    width: 100px;
    height: 40px;
    margin-right: calc(50% - 105px);
    margin-bottom: 10px;
    border: 1px solid #062C5E !important;
    border-radius: 2px !important;
    background: #062C5E !important;
    color: #ffffff !important;
    font-weight: bold;
    box-shadow: none !important;
}
.comfirm_y:hover {
    background: #01377D !important;
}
.comfirm_n {
    width: 100px;
    height: 40px;
    margin-bottom: 10px;
    border: 1px solid #dcdcdc !important;
    border-radius: 2px !important;
    background: #fff !important;
    color: #444 !important;
    font-weight: bold;
    box-shadow: none !important;
}
.comfirm_n:hover {
    background: #f6f6f6 !important;
}

.container_tree {
    overflow-y: auto;
    border-top: 1px solid #777;
    border-bottom: 1px solid #dcdcdc;
}
.v-treeview-node__root:before {
    display: none;
}
.v-treeview-node__label {
    cursor: pointer;
    margin-right: 20px;
    padding: 5px 10px;
    line-height: 24px;
}
.v-treeview-node__label:hover {
    color: #359FEB !important;
    text-decoration: underline;
    background-color: #f1f4f7 !important;
}
.container_msg {    
    border-top: 1px solid #777;
    border-bottom: 1px solid #dcdcdc;
    margin: 0 30px;
    padding: 10px;
    line-height: 2;
    font-size: 15px;
    height: 297px;
    overflow-y: auto;
}
.container_filelist {
    table {
        width: 100%;
        overflow: hidden;
        border-collapse: collapse;
        tr {
            td {
                padding: 0 3px !important;
                height: 26px !important;
                font-size: 13px !important;
                a {
                    text-decoration: none;
                    color: #444;
                }
                a:hover {
                    text-decoration: underline;
                    color: #359FEB;
                }
            }
            td:nth-child(2) {
                width: 80px;
                text-align: left;
            }
            td:nth-child(n+3) {
                width: 40px;
                text-align: right;
            }
        }
        tr:hover {
            background-color: #f9f9f9;
        }
    }
}
.container_filelist > table > tr > td > .btn_download {
    height: 26px;
    width: 30px;
    padding: 0;
    background: transparent url('~assets/images/ico_download.png') no-repeat center;
    text-indent: -9999px;
}
.container_filelist > table > tr > td > .btn_download:hover {
    background: transparent url('~assets/images/ico_download.png') no-repeat center !important;
}

.img_unchk {
    filter: grayscale(40%); opacity: 0.35;
}
.img_chk {
    opacity: 1;
    position: absolute;
}

.stepper_css {
    font-size: 15px;
    font-weight: bold;
}

.mrR2 {
    margin-right: 2px !important;
}

.mrR4 {
    margin-right: 4px !important;
}

.mrR8 {
    margin-right: 8px !important;
}

.mrR16 {
    margin-right: 16px !important;
}

.mrB10 {
    margin-bottom: 10px !important;
}

.mrB20 {
    margin-bottom: 20px !important;
}

.mrB30 {
    margin-bottom: 30px !important;
}

.mrB48 {
    margin-bottom: 48px !important;
}

.mrL4 {
    margin-left: 4px !important;
}

.mrL8 {
    margin-left: 8px !important;
}

.mrL16 {
    margin-left: 16px !important;
}

.mrT10 {
    margin-top: 10px !important;
}

.mrT20 {
    margin-top: 20px !important;
}

.mrT30 {
    margin-top: 30px !important;
}

.mrT40 {
    margin-top: 40px !important;
}

.mrT50 {
    margin-top: 50px !important;
}

.h40 {
    height: 40px !important;
}

.ls {
    letter-spacing: -1.5px;
}

.dp_flex {
    display: flex !important;
}

.font-red {
    color: #DC3641;
}
.font-blue {
    color: #218FDE;
}
.font-gray {
    color: #777;
}

/***home***/
.home_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .home_banner {
        width: 100%;
        background: #000000;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .banner_wrap {
            margin-top: 80px;
            width: 1360px;
            p {
                font-size: 20px;
                color: #fff;
                font-weight: bold;
                line-height: 1.2;
                margin-bottom: 0;
            }
            .large {
                font-size: 48px;
                line-height: 1;
            }
        }
    }
    .home_myWork_wrap {
        background: #DE3427;
        margin-top: 50px;
        width: 100%;
        display: flex;
        justify-content: center;
        .myWork_wrap {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            width: 1360px;
            border-left: 1px solid rgba(256,256,256,0.2);
            border-right: 1px solid rgba(256,256,256,0.2);
            position: relative;
            .btn_hide {
                position: absolute;
                left: 0;
                top: -18px;
                color: #fff;
                height: 18px !important;
                width: 80px;
                border-radius: 0;
                border-top-left-radius: 4px;
                border-top-right-radius: 4px;
                border: 0 none !important;
                background:linear-gradient(to bottom, #FF4B3E, #DE3427) !important;
                span {
                    width: 16px;
                    height: 16px;
                    font-size: 11px;
                    font-weight: bold;
                    &::before {
                        content: "";
                        width: 16px;
                        height: 16px;
                        display: block;
                        transform: rotate(270deg);
                        background: url(~/assets/images/btn_arrow_white.svg) no-repeat 1px center/9px !important;
                    }
                }
            }
            .btn_show {
                position: absolute;
                left: 0;
                top: -18px;
                color: #fff;
                height: 18px !important;
                width: 80px;
                border-radius: 0;
                border-top-left-radius: 4px;
                border-top-right-radius: 4px;
                border: 0 none !important;
                background:linear-gradient(to bottom, #FF4B3E, #DE3427) !important;
                span {
                    width: 16px;
                    height: 16px;
                    font-size: 11px;
                    font-weight: bold;
                    &::before {
                        content: "";
                        width: 16px;
                        height: 16px;
                        display: block;
                        transform: rotate(90deg);
                        background: url(~/assets/images/btn_arrow_white.svg) no-repeat 3px center/9px !important;
                    }
                }
            }
            .myInfo_wrap {
                width: 100%;
                display: flex;
                padding: 16px;
                align-items: center;
                .photo_wrap {
                    position: relative;
                    margin-left: 20px;
                    img {
                        width: 58px;
                        height: 58px;
                        border-radius: 50%;
                    }
                    .btn_set {
                        position: absolute;
                        right: 0;
                        bottom: 0;
                        width: 20px !important;
                        height: 20px !important;
                        background: #fff url(~/assets/images/btn_set.svg) no-repeat center center !important;
                        border: 0 none !important;
                        border-radius: 50%;
                        text-indent: -9999px;
                        min-width: unset;
                        padding: 0;
                    }
                }
                .myInfo {   
                    color: #fff;
                    padding-left: 16px;               
                    p {
                        font-size: 10px;
                        font-weight: bold;
                        margin: 0;
                    }
                    .name_info {
                        display: flex;
                        align-items: center;
                        .large {
                            font-size: 24px;
                            font-weight: bold;
                        }
                        .btn_logout {
                            height: 22px !important;
                            width: 64px;
                            border: 1px solid #fff !important;
                            border-radius: 11px;
                            background: transparent !important;
                            color: #fff;
                            span {
                                font-size: 11px !important;
                                font-weight: bold;
                            }
                        }
                    }
                    .small {
                        span {
                            font-size: 10px;
                            font-weight: bold;
                            margin-top: 6px;
                        }
                    }
                }
            }
            .myMenu_wrap {
                width: 100%;
                .menu_list {
                    display: grid;
                    grid-template-columns: repeat(3,1fr);
                    .item {
                        padding: 20px;
                        color: #fff;
                        font-weight: bold;
                        border: 1px solid rgba(256,256,256,0.2);
                        margin-top: -1px;
                        margin-right: -1px;
                        cursor: pointer;
                    }
                }
            }
        }
    }
    .notice_wrap {
        display: flex;
        justify-content: center;
        background-color: #303030;
        width: 100%;
        .content {
            display: flex;
            flex-direction: row;
            background-color: #303030;
            width: 1360px;
            border-right: 1px solid rgba(256,256,256,0.2);
            border-left: 1px solid rgba(256,256,256,0.2);
            .left_wrap {
                width: 100%;
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                padding: 16px;
                margin: 0 20px;
                border-right: 1px solid rgba(256,256,256,0.2);
                .item {
                    display: flex;
                    flex-direction: row;
                    border-right: 1px solid rgba(256, 256, 256, 0.2);
                    margin-right: 30px;
                    &:last-child {
                        border-right: none;
                    }
                    div {
                        margin-left: 20px;
                        p {
                            margin: 0;
                            color: #fff;
                            font-size: 18px;
                            font-weight: bold;
                        }
                        .label {
                            font-size: 14px;
                            opacity: 0.5;
                        }
                    }
                }
            }
            .right_wrap {
                width: 100%;
                display: flex;
                margin-left: -2px;
                align-items: center;
                justify-content: space-between;
                .notice {
                    color: #fff;
                    .txt-alarm {
                        padding: 3px 20px;
                        border: 1px solid #fff;
                        border-radius: 12px;
                        font-size: 12px;
                        font-weight: bold;
                        margin-right: 4px;
                    }
                    .txt-subject {
                        font-size: 18px;
                        font-weight: bold;
                    }
                }
                .btn_wrap {
                    margin-right: 20px;
                    button {
                        min-width: unset;
                        height: 28px !important;
                        width: 28px !important;
                        text-indent: -9999px;
                        padding: 0;
                        background: transparent url(~/assets/images/btn_arrow_white.svg) no-repeat 45% center/10px !important;
                        &:first-child {
                            transform: rotate(180deg);
                            background: transparent url(~/assets/images/btn_arrow_white.svg) no-repeat 45% center/10px !important;
                        }
                        &:hover {
                            background-color: rgba(256,256,256,0.5);
                        }
                    }
                }
            }
        }
    }
}
.home_icon_group {
    width: 1360px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    border: 1px solid #E8EAED;
    padding: 30px 0;
    margin-top: 40px;
    .item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-right: 1px solid #e1e1e1;
        cursor: pointer;
        &:last-child {
            border-right: 0 none;
        }
        img {
            width: 40px;
            height: 40px;
        }
        span {
            margin-top: 30px;
            font-size: 14px;
            font-weight: bold;
        }
    }
}
.home_grid_container {
    width: 1360px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px 16px;
    margin-top: 30px;
    .item {
        background: #fff;
        border: 1px solid #DBDFE4;
        .item_tit {
            padding: 30px;
            display: flex;
            flex-direction: column;
            span {
                display: block;
            }
            .txt-group {
                font-size: 15px;
                font-weight: bold;
                color: #E44126;
                margin-bottom: 10px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                .btn_more--member {
                    background: url(~/assets/images/btn_more_home.svg)no-repeat center center/20px !important;
                    min-width: unset;
                    padding: 0;
                    text-indent: -9999px;
                    border: 0 none !important;
                    width: 24px;
                    margin-left: 8px;
                    height: 24px !important;
                    transform: rotate(90deg);
                }
            }
            .txt-tit {
                font-size: 22px;
                font-weight: bold;
                height: 100px;
                line-height: 1.2;
            }
            .sub-tit {
                font-size: 16px;
                color: #5B5B5B;
            }
        }
        .item_bottom {
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-top: 1px solid #E8EAED;
            padding: 16px 20px 16px 30px;
            span {
                font-weight: bold;
            }
            .member_group {
                display: flex;
                align-items: center;
                img {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    &.leader {
                        border: 2px solid #C5381F;
                    }
                }
                img + img {
                    margin-left : -8px;
                }
            }
            
        }
    }
}
.community_wrap {
    width: 100%;
    margin-top: 30px;
    background: #F2F5F8;
    padding: 30px 0;
    display: flex;
    justify-content: center;
    .community {
        width: 1360px;
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 20px 16px;
        // aspect-ratio: 1/1;
        .item {
            background: #fff;
            border: 1px solid #DBDFE4;
            .item_tit {
                display: flex;
                flex-direction: row;
                padding: 30px 30px 20px 30px;
                img {
                    width: 110px;
                    height: 110px;
                }
                .txt-info {
                    font-size: 16px;
                    font-weight: bold;
                    line-height: 1.2;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                }
                &.ty--2 {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 20px 30px 20px 30px;
                    .btn_wrap {
                        display: flex;
                        button {
                            min-width: unset;
                            height: 32px !important;
                            width: 48px !important;
                            text-indent: -9999px;
                            padding: 0;
                            border: 1px solid #E8EAED !important;
                            margin-right: -1px;
                            &:first-child {
                                span {
                                    transform: rotate(90deg);
                                    margin-top: 3px;
                                    height: 100%;
                                    background: transparent url(~/assets/images/btn_arrow.svg) no-repeat 45% center/11px !important;    
                                }
                            }
                            &:last-child {
                                span {
                                    transform: rotate(270deg);
                                    margin-bottom: 3px;
                                    height: 100%;
                                    background: transparent url(~/assets/images/btn_arrow.svg) no-repeat 45% center/11px !important;    
                                }
                            }
                            &:hover {
                                background-color: rgba(256,256,256,0.2);
                            }
                        }
                    }
                }
            }
            .item_middle {
                font-size: 16px;
                color: #ABADB0;
                padding: 0 30px 20px 30px;
                &.ty--2 {
                    color: #313131;
                    ul {
                        padding: 0;
                        li {
                            border-bottom: 1px solid #DBDBDB;
                            padding: 12px 0;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            &:last-child {
                                border-bottom: 0 none;
                            }
                            .detail {
                                display: flex;
                                align-items: center;
                                img {
                                    margin-right: 8px;
                                    width: 40px;
                                    height: 40px;
                                }
                                span {
                                    margin-right: 32px;
                                    display: inline-block;
                                    position: relative;
                                    padding-top: 20px;
                                    &:nth-child(2) {
                                        em {
                                            position: absolute;
                                            top: -2px;
                                            left: 0;
                                            font-size: 14px;
                                            color: #ABADB0;
                                            font-style: normal;
                                        }
                                    }
                                    &:nth-child(3)::before {
                                        content: "Project";
                                        position: absolute;
                                        top: -2px;
                                        left: 0;
                                        font-size: 14px;
                                        color: #ABADB0;
                                    }
                                    &:nth-child(4)::before {
                                        content: "Date";
                                        position: absolute;
                                        top: -2px;
                                        left: 0;
                                        font-size: 14px;
                                        color: #ABADB0;
                                    }
                                }
                            }
                            .btn_more--list {
                                background: url(~/assets/images/btn_more_home.svg)no-repeat center center/14px !important;
                                min-width: unset;
                                padding: 0;
                                text-indent: -9999px;
                                border: 0 none !important;
                                width: 24px;
                                margin-left: 8px;
                                height: 24px !important;
                            }
                        }
                    }
                }
            }
            .item_bottom {
                display: flex;
                align-items: center;
                justify-content: space-between;
                border-top: 1px solid #E8EAED;
                padding: 12px 30px;
                span {
                    font-weight: bold;
                }                    
            }
        }
    }
}
.home_more_area {
    padding: 20px;
    .v-btn .v-btn__content {
        background: transparent;
        border: 0 none;
        font-size: 13px;
        font-weight: bold;
        color: #444;
        letter-spacing: -1px;
        &::after {
            content: "";
            background: url('~assets/images/btn_arrow.svg') no-repeat center;
            display: inline-block;
            width: 10px;
            height: 10px;
            margin-left: 8px;
        }
    }
}

.point-color {
    color: #E44126;
}
.gray-color {
    color: #ABADB0;
}
.gray-color2 {
    color: #313131;
}
.fs-14 {
    font-size: 14px;
}
.fs-15 {
    font-size: 15px;
}
.fs-16 {
    font-size: 16px;
}
.fs-17 {
    font-size: 17px;
}
.fs-20 {
    font-size: 20px;
}
.overflowY {
    overflow-y: auto !important;
}


.overflowY::-webkit-scrollbar {
    width: 6px;
}
.overflowY::-webkit-scrollbar-track {
    background-color: transparent;
}
.overflowY::-webkit-scrollbar-thumb {
    background-color: #ddd;
}

.v-pagination {
    & > li {
        .v-pagination__navigation {
            box-shadow: none;
            border: 1px solid #ddd;
            padding: 15px 0 !important;
        }
        .v-pagination__item {
            box-shadow: none;
            border: 1px solid #ddd;
        }
    }
}